<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrakkenEngine_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DrakkenEngine_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DrakkenEngine_tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EEC07FE1D6B79AD00F1FF19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEC080E1D6B79DE00F1FF19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEC081B1D6B79EC00F1FF19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEC08281D6B79FB00F1FF19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
