<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DKMath-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DKMath-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DKMath-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DKRender-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DKRender-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DKRender-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DrakkenKit_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DrakkenKit_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DrakkenKit_tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E8AF0191CF6341C00ACB5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95F9E61CE3C47500D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95F9F61CE3C52300D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA031CE3C53700D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA101CE3C54300D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA221CE3EA1000D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA2F1CE3EA1D00D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA3C1CE3EA2600D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E95FA511CE5015B00D52B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB4FA8B1D060AF300D43351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB4FA981D060B3100D43351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB4FAA51D060B4200D43351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBA23A31CFCF3C6002A60EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBA23D11CFCF70F002A60EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
